body {
  margin: 0; /*on supprime les petites marges qui sont attribuées de base aux bords de la page*/
  color: white;
  background-color: #19313A;
  line-height: 1.3; /*On définit l'espace qui sépare deux lignes, pour rendre les textes plus aérés qu'ils ne le sont de base*/
  font-family:  /*On déclare une liste de polices de caractères "classiques" qui seront utilisées dans l'ordre de compatibilité avec le naviguateur*/
      '-apple-system',
      'system-ui',
      'BlinkMacSystemFont',
      'Segoe UI',
      'Roboto',
      'Helvetica Neue',
      'Arial',
      'sans-serif',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
}

html {
  scroll-behavior: "smooth"; /*on rend les "scrolls" automatiques doux, pas instantanés*/
}

.sections { /*désigne les <div> qui contiennent chaque petit paragraphe (thème)*/
  background-color: #0f2436;
  border-radius: 50px;  /*applique un arrondi sur les bords*/
  padding: 3% 2%;
}

#funfacts {
  margin-top: 500px;
}

#presentation {
  display: flex; /*ces deux lignes seront utilisées tout au long de la page css, ils utilisent les flex-box, qui permettent d'avoir une plus grande liberté quant au placement des balises sur la page*/
  flex-wrap: wrap; /* si l'écran est trop petit pour afficher tous les élements, ils seront automatiquement en dessous pour ne pas avoir a scroller vers la droite */
  flex-direction: row-reverse;  /*On inverse l'ordre des colonnes pour que tout s'aligne à droite*/
  margin: 2% 5% 5% 5%;
  padding: 3% 2%;
}
#presentation > .texte { /*la balise de class "texte" dans la balise d'Id "presentation"*/
  width: 55%;
  text-align: right; /*On aligne le texte à droite*/
  margin-right: 1vw;
  margin-top: 3em;
}
#presentation > .texte > h1 {
  font-size: 7vw;
}
#presentation > #AlanTuring16 {
  width: 70vh;
  max-width: 30vw; /*on limite la largeur de l'image pour laisser de la plce au texte*/
  object-fit: scale-down; /*on ordonne de réduire la taille de l'image s'il le faut pour que toute l'ilage soit toujours visible, qu'elle ne se fasse pas rogner*/
  max-height: 45vw; /*on limite la hauteur de l'image pour pas qu'elle ne prenne de la place inutile*/
  object-position: right;
  border-radius: 2em;
  margin-right: 1em;
  margin-left: 3vw;
}



#_1936 {
  margin:5%;
  padding: 3% 2%;
  display: flex;
  flex-wrap: wrap;
}
#_1936 > .texte {
  width: 40vw;
  margin-top: 2em;
}
#_1936 > #MachineTuring {
  width: 20vw;
  height: 40vw;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%); /*on utilise "linear gradient" pour réaliser de beaux dégradés (les dégradés moches sont aussi faits de la même façon)*/
  border-radius: 50px;
  padding: 3em;
  margin-right: 6vw;
}



#guerre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #0f2436;
  margin: 15% 11%;
  border-radius: 4em;
  padding: 3% 2%;
}
#guerre > .texte {
  width: 40vw;
  text-align: justify; /*on indente le texte en "justifié" pour qu'il prenne toute la largeur disponible*/
}
#guerre > .texte li { /*désigne les balises de type li dans la balise de class "texte" de la balise d'Id "guerre"*/
  font-size: 18px;
}
#guerre > .texte2 {
  text-align: justify;
}
#guerre > #BombeCryptographique {
  height: 16vw;
  margin-left: 3em;
  border-radius: 2em;
}
#infoguerre {
  display: none; /*on cache la balise (elle n'est tout simplement pas visible). Cette balise sera rendue visible par la suite grâçe à une fonction JS*/
}
@media (max-aspect-ratio: 5/3) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 5/3 ou moins*/
  #guerre > #BombeCryptographique {
    height: 35vw;
    margin: 1em auto;
  }
  #guerre > .texte {
    width: 100%;
    text-align: left;
  }
}



#film {
  background-color: #0f2436;
  margin-bottom: 5%;
  margin-left: auto; /*on met les deux marges droite/gauche en "auto" pour qu'elles s'égalisent, et que la balise soit ainsi centrée*/
  margin-right: auto;
  width: 70vw;
  border-radius: 50px;
  padding: 3% 2vw;
  margin-top: 0;
  border-top-left-radius: 0; /*on met un arrondi seulement en bas, puisque la partie supérieure sera occupée par une image dirrectement "collée" à la balise (oui, il y a plus simple)*/
  border-top-right-radius: 0;
}
#BackgroundImitationGame {
  width: 74vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 5%;
  border-top-left-radius: 50px; border-top-right-radius: 50px;
}



#_1950 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 15% 12vw;
  padding: 3% 2%;
}
#_1950 > .texte {
  width: 40vw;
  margin-top: 2%;
  text-align: right;
  margin-right: 4vw;
}
#_1950 > #TestTuring {
  height: 20vw;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 50px;
  padding: 3em;
}
@media (max-aspect-ratio: 1/1) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 1 ou moins (rectangle format paysage)*/
  #_1950 > #TestTuring {
    height: 30vh;
    width: auto;
    margin: auto;
  }
}
@media (max-aspect-ratio: 1/1) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 1 (carré) ou moins (rectangle format paysage)*/
  #_1950 > .texte {
    height: auto;
    width: 100%;
    text-align: center;
  }
}



#_1952_54 {
  margin: 10% 0%;
  border-radius: 50px;
  padding: 3% 0%;
}
#_1952_54 > .texte {
  text-align: center;
  margin-bottom: 7em;
}
#_1952_54 > #chronologie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#_1952_54 > #chronologie > div > h3 { /*désigne les balises h3 dans les balises de type <div> dans la balise d'Id "chronologie" dans la balise d'Id "_1952_54"*/
  text-align: center;
}
#_1952_54 > #chronologie > img {
  width: 3vw;
}
#_1952_54 > #chronologie > div {
  border-radius: 20px;
  background-color: #0f2436;
  font-size: 0.7em;
}
@media (min-aspect-ratio: 5/3) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 5/3 ou plus*/
  #_1952_54 > #chronologie > div {
    width: 15vw; /*on fait des cases petites qui se mettent à 4 sur une seule ligne*/
    margin: 0% 1vw;
    padding: 3% 2vw;
  }
}
@media (max-aspect-ratio: 5/3) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 5/3 ou moins*/
  #_1952_54 > #chronologie > div {
    width: 35vw; /*on fait des cases plus grosses, destinées à se mettre à deux par ligne. Les cases s'organisent donc toutes seules sur deux lignes*/
    margin: 5% 1vw;
    padding: 3% 2vw;
  }
  #arrow2 {
    display: none; /*on cache la deuxième flèche car elle pointe de la case 2 à la case 3 qui ne sont plus sur la même ligne*/
  }
}
@media (max-aspect-ratio: 1/1) { /*prend en compte les ordres contenus dans les accolades seulement si le ratio de l'écran sur le quel est visionné la page est de 1 (carré) ou moins (rectangle format paysage)*/
  #_1952_54 > #chronologie > div {
    width: 75vw; /*on fait des cases plus grosses encore, destinées à occuper toutes seules une ligne entière*/
    margin: 5% 1vw;
    padding: 3% 2vw;
  }
  #arrow1 {
    display: none; /*on chache toutes les flèches, car chaque case est sur une ligne différente*/
  }
  #arrow2 {
    display: none;
  }
  #arrow3 {
    display: none;
  }
}
#_1952_54 > #chronologie > div > h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}
#_1952_54 > #chronologie > div > h2 {
  text-align: center;

}
#_1952_54 > #chronologie > div > p {
  font-size: 1.8em;
}



#separator {
  margin: 300px 0;
  display: flex;
  justify-content: center; /*on centre les balises contenues par la balise d'Id "separator"*/
}
#separator > #FFbutton {
  padding: 1em 2em;
  font-size: 2em;
  border-radius: 500px;
}
#funfacts {
  display: none;
}
#funfacts > .grostitre {
  text-align: center;
  font-family: cursive; /*on utilise une police de caractère de style "cursive", qui simule une écriture manuscrite, parfait pour faire une transition vers les éléments plus drôles de la page*/
  font-size: 15em;
  margin-top: 700px;
  margin-bottom: 300px;
}



#logoapple {
  margin: 5% 2%;
  padding: 3% 2%;
}
#applesinfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 4em;
}
#logoapple h3 {
  width: 100%;
}
#AppleLogo {
  width: 20%;
  padding: 5%;
  filter: invert(1); /*on ajoute le filtre "invert" à 100% (100% = 1) qui "renverse" les couleurs. Ca permet au logo d'apple originellement noir de devenir blanc (ce qui va mieux avec le reste de la page)*/
}
#BittenApple {
  width: 100%;
}
#applesinfo > div {
  width: 20%;
  padding: 5%;
}
#applesinfo > div > p {
  font-size: 1em;
  text-align: center;
}
#applesinfo > .bigletter {
  margin: 1%;
}
#applesbuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#applesbuttons > .bouton {
  margin: 3%;
  width: 20%;
  min-width: 150px;
}
#applerep {
  font-size: 1.7em;
  text-align: center;
}



#nvidia {
  margin: 20% 12vw;
  padding: 3% 5%;
}
#nvidia h2 {
  text-align: center;
}



#bombesecrete {
  margin: 20% 5%;
  padding: 3% 2%;
  display: flex;
  flex-wrap: wrap;
}
#bombesecrete > #secretleft {
  width: 50%;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 50px;
  padding: 3em;
  margin-right: 8em;
}
#bombesecrete > #secretright {
  width: 30%;
}
#bombesecrete > #secretright > input {
  width: 30%;
  padding: 0.5em 1em;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  border-radius: 50px;
  margin: 8px 0;
  margin-right: 0.5em;
}
#bombesecrete > #secretright > .bigletter {
  height: 10vh;
}
#yearrep {
  display: none; /*on cache d'abord la réponse, on la fera apparaître lorsque l'utilisateur aura envoyé sa réponse*/
  margin: 0%;
}



#biologie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 10% 10% 10% 10%;
  padding: 3% 2%;
}
#biologie > .texte {
  text-align: right;
  width: 45vw;
  margin-right: 3em;
}
#Structures {
  height: 20vw;
  border-radius: 3em;
}



#sport {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10% 10% 10%;
  padding: 3% 2%;
}
#TuringMarathon {
  width: 40%;
  border-radius: 4em;
  object-fit: contain; /*on force l'image à s'afficher en entiern même si cela l'oblige à se dézoomer pour passer en entier dans la balise qui la contient*/
  height: 30%;
}
#sport > .texte {
  width: 50%;
  margin-left: 3em;
}



#prixturing {
  display: flex;
  flex-wrap: wrap;
  margin: 15% 10% 30% 10%;
}
#prixturing > .texte {
  width: 50%;
}
#prixturing > table {
  table-layout: fixed; /*on fixe la largeur des colonnes du tableau*/
  width: 40%;
  text-align: center;
  border: 2px solid white;
  margin: auto;
  border-collapse: collapse; /* fait fusionner les bordures de deux cases adjacentes*/
  border-radius: 10em;
}
#prixturing td, #prixturing th {
  border:  solid #ddd;
  padding: 0.7em;
  border: 1px solid white;
}
#prixturing th {
  background-color: #A8042B;
  color: white;
}



footer {
  background: linear-gradient(45deg, rgba(235,147,90,1) 0%, rgba(211,71,104,1) 100%);
  padding: 0% 2%;
  margin: 0% 20% 0 20%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: black;
}
footer a {
  color: black;
}
footer #groarginclogo {
  display: block; /*on le fait prendre toute la largeur disponible*/
  margin-left: auto; /*on ajuste les deux marges pour qu'elles s'égalisent*/
  margin-right: auto;
  width: 50%;
  margin-bottom: 2%;
}
footer > #row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .columns {
  margin: 2%;
}
footer button {
  margin-top: 10%;
  font-size: 1em;
  padding: 0.5em 0.5em;
}
footer .col2 {
  display: flex;
  flex-direction: column; /*organise les éléments dans l'ordre des colonnes*/
  justify-content: center;
  align-items: center; /*place les éléments au centre de leur contenants*/
}
footer .col2 > .logorow1 {
  display: flex;
  flex-wrap: wrap;
}
footer #logocatvideos {
  width: 9em;
  margin: 0.5em;
}
footer #logofacebookstalker {
  width: 7em;
  margin: 0.5em;
}
footer .col2 > .logorow2 {
  display: flex;
  flex-wrap: wrap;
}
footer .col2 > .logorow2 > img {
  width: 5em;
  margin: 0.5em;
}
footer > #footerend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  padding-bottom: 2%;
  margin: 0;
}






.bigletter {
  font-size: 15vw;
}
h1 {
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 2%;
}
h2 {
  font-size: 4em;
  font-style: italic;
}
h3 {
  font-size: 2em;
  font-style: italic;
}
h4 {
  font-size: 1em;
}
p {
  font-size: 1.4em;
}
li, ul {
  font-size: 1.6em;
}
a {
  color: white;
  text-decoration: underline; /*on met toutes les balises contenant des liens en soulignées*/
}
s {
  text-decoration-style: double; /*toutes les balises "barrées" (balise <s>) sont doublement barrées*/
}
a:hover {
  text-decoration-style: double; /*lorsque l'on passe la souris sur une balise de lien hypertexte, celle-ci se souligne doublement (ajoute un peu d'interaction)*/
}
button {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer; /*lorsque l'on passe sur une balise "button" le curseur se change pour signifier que c'est un lien cliquable*/
  padding: 1em 2em;
  border: none; /*on supprime la bordure et le contour appliqué de base au boutons en html*/
  outline: none;
  border-radius: 10px;
  background: #f77062;
  color: white;
  font-size: 1.4em;
}
button:hover {
    background: #4837ff; /*on change la couleur du bouton lorsque l'on passe dessus*/
    transition: all 0.3s ease; /*on ordonne d'opérer toutes les tansitions "all" en 0.3s "0.3s" doucement "ease"*/
    transform: matrix(1.05, 0, 0, 1.05, 0, 0); /*on étale le bouton sur l'axe x et y de 105% (cela fait grossir le bouton lorsque l'on passe dessus)*/
}
#forbiddenbutton {
  cursor: not-allowed; /*on chnage le curseur en panneau interdit lorsue l'on passe sur le bouton INTERDIT*/
}
