body {
  margin: 0;
  color: white;
  background-color: #19313A;
  line-height: 1.3;
  font-family:
      '-apple-system',
      'system-ui',
      'BlinkMacSystemFont',
      'Segoe UI',
      'Roboto',
      'Helvetica Neue',
      'Arial',
      'sans-serif',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
}

.sections {
  background-color: #0f2436;
  margin: 5% 10%;
  border-radius: 50px;
  padding: 3% 2%;
}

#presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 2% 5% 10% 5%;
  padding: 3% 2%;
}
#presentation > .texte {
  width: auto;
  object-position: right;
  text-align: right;
  margin-right: 2em;
  margin-top: 3em;
}
#presentation > .texte > h1 {
  font-size: 9em;
}
#presentation > #AlanTuring16 {
  height: 50em;
  object-position: right;
  border-radius: 2em;
  margin-right: 1em;
  margin-left: 3em;
}



#_1936 {
  margin: 2% 5%;
  padding: 3% 2%;
  display: flex;
  flex-wrap: wrap;
}
#_1936 > .texte {
  width: 66%;
  margin-top: 2em;
}
#_1936 > #MachineTuring {
  width: 20%;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 50px;
  padding: 3em;
  margin-right: 8em;
}



#guerre {
  display: flex;
  flex-wrap: wrap;
  background-color: #0f2436;
  margin: 5% 11%;
  border-radius: 4em;
  padding: 3% 2%;
}
#guerre > .texte {
  width: 55%;
  text-align: justify;
}
#guerre > .texte li {
  font-size: 18px;
}
#guerre > .texte2 {
  text-align: justify;
}
#guerre > #BombeCryptographique {
  width: 40%;
  height: 20em;
  object-fit: scale-down;
  margin-left: 3em;
  border-radius: 4em;
}
#panel {
  display: none;
}



#film {
  background-color: #0f2436;
  margin: 5% 20%;
  border-radius: 50px;
  padding: 3% 2%;
  margin-top: 0;
  border-top-left-radius: 0; border-top-right-radius: 0;
}
#BackgroundImitationGame {
  width: 60%;
  margin-left: 20%;
  border-top-left-radius: 50px; border-top-right-radius: 50px;
}



#_1950 {
  display: flex;
  flex-wrap: wrap;
  margin: 10% 12%;
  padding: 3% 2%;
}
#_1950 > .texte {
  width: 62%;
  margin-top: 2%;
  text-align: right;
  margin-right: 5em;
}
#_1950 > .texte > p {
}
#_1950 > #TestTuring {
  width: 25%;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 50px;
  padding: 3em;
}



#_1952_54 {
  margin: 5% 0%;
  border-radius: 50px;
  padding: 3% 0%;
}
#_1952_54 > .texte {
  text-align: center;
  margin-bottom: 7em;
}
#_1952_54 > #chronologie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#_1952_54 > #chronologie > div {
  border-radius: 20px;
  padding: 3% 2%;
  background-color: #0f2436;
  font-size: 0.7em;
  width: 15%;
  margin: 0% 1%;
}
#_1952_54 > #chronologie > div > h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
}
#_1952_54 > #chronologie > div > h2 {
  text-align: center;

}
#_1952_54 > #chronologie > div > p {
  font-size: 1.8em;
}




#logoapple {
  margin: 5% 2%;
  padding: 3% 2%;
}
#applesinfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 4em;
}
#logoapple h3 {
  width: 100%;
}
#AppleLogo {
  width: 20%;
  padding: 5%;
  filter: invert(1);
}
#BittenApple {
  width: 100%;
}
#applesinfo > div {
  width: 20%;
  padding: 5%;
}
#applesinfo > div > p {
  font-size: 1em;
  text-align: center;
}
#applesinfo > .bigletter {
  margin: 1%;
}
#applesbuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#applesbuttons > .bouton {
  margin: 3%;
  width: 40vw;
}
#applerep {
  font-size: 1.7em;
  text-align: center;
}



#nvidia {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
#nvidia h2 {
  text-align: center;
}



#bombesecrete {
  margin: 5% 5%;
  padding: 3% 2%;
  display: flex;
  flex-wrap: wrap;
}
#bombesecrete > #secretleft {
  width: 50%;
  background: linear-gradient(45deg, rgba(235,117,35,1) 0%, rgba(168,4,43,1) 100%);
  border-radius: 50px;
  padding: 3em;
  margin-right: 8em;
}
#bombesecrete > #secretright {
  width: 30%;
}
#bombesecrete > #secretright > input {
  width: 30%;
  padding: 0.5em 1em;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  border-radius: 50px;
  margin: 8px 0;
  text-decoration: none;
  border: none;
  outline: none;
  margin-right: 0.5em;
}
#yearrep {
  display: none;
  margin: 0%;
}




#biologie {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 10% 0% 10%;
  padding: 3% 2%;
}
#biologie > .texte {
  text-align: right;
  width: 50%;
  margin-right: 8em;
}
#Structures {
  width: 25%;
  border-radius: 3em;
}



#sport {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10% 5% 10%;
  padding: 3% 2%;
}
#TuringMarathon {
  width: 40%;
  border-radius: 4em;
}
#sport > .texte {
  width: 50%;
  margin-left: 3em;
}



#prixturing > table {
  table-layout: fixed;
  width: 60%;
  text-align: center;
  border: 2px solid white;
  margin: auto;
}






.bigletter {
  font-size: 20vw;
}

h1 {
  font-size: 600%;
  margin-top: 0;
  margin-bottom: 2%;
}

h2 {
  font-size: 300%;
  font-style: italic;
}

h3 {
  font-size: 150%;
  font-style: italic;
}

h4 {
  font-size: 100%;
}

p {
  font-size: 1.4em;
}

li,ul {
  font-size: x-large;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1em 2em;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #f77062;
    color: white;
    font-size: 1.4em;
}

button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}
